.arow {
    color: rgb(24, 102, 228);
    float: right;
    z-index: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    position: relative;
    left: 4.57cm;
    bottom: 0.25cm;
    letter-spacing: -5px;

    border-radius: 2px;
}

.arrow {
    border: solid rgb(255, 255, 255);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@keyframes arrow {

    0%,
    0.005% {
        transform: translateX(0px);
        color: rgb(48, 48, 219);
    }

    20% {
        color: rgb(201, 108, 32);
    }

    100% {
        color: rgb(32, 201, 156);
        transform: translateX(12px);
    }

}

@keyframes arrow1 {

    0%,
    0.005% {
         transform: translateX(0px); 
        border-color: rgb(48, 48, 219);
        
    }

    20% {
        border-color: rgb(201, 108, 32);
    }

    100% {
        border-color: rgb(32, 201, 156);
        transform: translateX(12px);
    }

}

.arow_second {
    color: rgb(24, 102, 228);
    float: right;
    z-index: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    position: relative;
    left: 4.4cm;
    bottom: -3cm;
    letter-spacing: -5px;
    animation-name: arrow;
    animation-direction: alternate;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    border-radius: 2px;
}

.arrow_second {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    animation-direction: alternate;
    /* animation-name: arrow1; */
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

}

.right_second {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}